
{% include 'inicio.html'%}

{% load static %}
<section>
<div class="container">
        <br>
        <br>
                
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li><a href="/proyectos/">Proyectos</a></li>

          <li class="active">Eliminar Proyecto</li>
        </ol>
        <div class="row">
        		
                <div class="col-lg-4 col-lg-offset-4">
                <br>
                {% if user %}
                    <div class="alert alert-success" role="alert">
                        Proyecto eliminado con éxito
                    </div>
                    
                {% endif%}
				<br>
				<br>
            </div>
            
        </div>
    </div>
</section>
{% include 'fin.html'%}