
{% include 'inicio.html'%}

{% load static %}

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <br>
        <br>
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li><a href="/proyectos/">Proyectos</a></li>
          <li><a href="/usuario/">Usuarios</a></li>
           {% if usuario %}
          <li><a href="/usuario/{{usuario.matricula}}/informacion">{{usuario.first_name}}</a></li>
          <li class="active">Proyectos Inscritos</li>
        </ol>
        <div class="row">
            
            {% include 'lista_izq.html'%} 
            

                <div class="col-lg-8 ">
                <div class="modal-body">
                    <h2>{{usuario.first_name}}</h2>


                    <p>{{usuario.last_name}}</p>
                    <h3>Proyectos Inscritos:</h3>
                    <br>
                    {% if proyectos %}
                        
                        {% for p in proyectos %}
                            <li><h4>{{p.proyecto.nombre}}</h4>
                                </li>
                            <ul class="list-inline item-details">
                                
                                <li><strong>Descripción:</strong> {{p.proyecto.descripcion}}</li>
                                <li><strong>Código:</strong> {{p.proyecto.codigo}}</li>
                                <li><strong>Lugar:</strong> {{p.proyecto.lugar}}</li>
                                <li><strong>Horario:</strong> {{p.proyecto.horario}}</li>
                            </ul>

                        {% endfor %}
                        
                    {% else %}
                        <p>No se ha inscrito en ningun proyecto.</p>
                    {% endif %}
                    
                </div>
            </div>
                
            {% else %}
                <p>Usuario no disponible.</p>
            {% endif %}

            
        </div>
    </div>
    
</section>

<!-- About Section -->


{% include 'fin.html'%}
