{% load static %}

	

<!-- About Section -->
    
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Ubicación</h3>
                        <p>Calle quinta zona número 409, Colonia Caracol en la ciudad de Monterrey, Nuevo León </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contactanos</h3>
                        <p>Teléfonos: 8128-1600 Y 8358-2000 extensiones 4411 Y 4379.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Incubadora Caracol 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    

    <!-- jQuery -->

    <!--Import jQuery before materialize.js-->
      

      <script type="text/javascript" src="js/materialize.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'home/js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'home/js/classie.js'%}"></script>
    <script src="{% static 'home/js/cbpAnimatedHeader.js'%}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'home/js/jqBootstrapValidation.js'%}"></script>
    <script src="{% static 'home/js/contact_me.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'home/js/freelancer.js'%}"></script>

</body>

</html>
